#container{
	width: 1140px;
	margin: 0 auto;
}

#octocat{
	float: left;
	display: block;
}

#sidebar{
	float: right;
	border: 1px solid #303030;
	text-align: left;
}

#sidebar label{
	border-bottom: 1px solid #303030;
	width: 100%;
}

#sidebar ul{
	list-style: none;
}